* h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

* a {
  text-decoration: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-container,
.menu-list,
.section1-list,
.section2-list,
.section3-list,
.button-list {
  display: flex;
  flex-direction: row;
}

.main-logo-section,
.footer-container,
.address-list {
  display: flex;
  flex-direction: column;
}

.address-list {
  gap: 9px;
}

.header-container {
  padding: 24px 0 25px 0;
  gap: 94px;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-list {
  gap: 46px;
}

.section1-icon {
  width: 270px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.contact-list {
  gap: 30px;
  padding: 0 0 0 257px;
}

.main-logo-section {
  background: url(../images/background.jpg), #2f303a66;
  background-size: cover;
  background-blend-mode: difference;
  width: 100%;
  padding: 200px 0;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.menu-links {
  color: #000;
}

.contact-links {
  color: #757575;
}

.hover:hover,
.hover:focus {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  width: 100%;
  padding: 60px 0;
}

.footer-container {
  color: #fff;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.header-logo {
  color: #000;
}

.footer-logo {
  color: #fff;
  padding: 0 0 20px 0;
}

.logo-color {
  color: #2196f3;
}

.menu-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #fff;
  margin: 0 452px;
}

.button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: #fff;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
}

.header-three {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section {
  padding: 94px 0;
}

.section1-list {
  padding: 0 0 0 0;
}

.section1-list,
.section2-list,
.section3-list {
  gap: 30px;
}
.section3-list > li {
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
}

.section3-background {
  background-color: #f5f4fa;
}

.content-paragraph {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0 0 50px 0;
}

.section3-background {
  background-color: #f5f4fa;
}

.header-four {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 30px 0 0 0;
}

.our-team-social-links-list {
  display: flex;
  flex-direction: row;
  padding: 0 32px 30px 32px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.social-icons {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  fill: #afb1b8;
}

.social-icons:hover {
  fill: #fff;
  background-color: #2196f3;
}

.our-team-paragraph {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 0 16px 0;
}

img {
  display: block;
}

.address-list-paragraph,
.address-list-link {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* portfolio.html styles */

.button-list {
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: #2196f3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.portfolio-header-four {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
  padding: 20px 0 4px 24px;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  padding: 0 0 20px 24px;
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.border {
  border: 1px solid #eeeeee;
}

.icons-space {
  margin-right: 10px;
}

.icons-header {
  fill: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-header:hover {
  fill: #2196f3;
}
