/**/
/* Styles reset */
/**/

* h1,
h2,
h3,
h4,
p,
ul,
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

/**/
/* Global styles */
/**/

.body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-color {
  color: #2196f3;
}

/**/
/* Header styles */
/**/

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  gap: 93px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.nav-style {
  gap: 46px;
}

.contact-list-style {
  gap: 50px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  color: #212121;
}

.blue-hover:hover,
.blue-hover:focus {
  color: #2196f3;
}

.contact-links {
  color: #757575;
}

.contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #757575;
  gap: 10px;
}
